<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<title>Radio Auction</title>

<link rel="stylesheet" type="text/css" media="screen" href="css/smoothness/jquery-ui-1.8.16.custom.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/ui.jqgrid.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/jquery.autocomplete.css" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-jtemplates.js"></script>

<script language=javascript src="http://nick8.surfernetwork.com/Media/player/scripts/launch.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    // attach the template
    $("#ad td").setTemplateElement("t_ad", null, {runnable_functions: true});

    // process the template
    $("#ad td").processTemplateStart("pl/api/ads/ad", null, 30000, null, {type: 'GET'});
});
</script>
</head>
<body>

		<div id="headergroup">
			<div id="header">
<table live="[% c.param('live') %]" user="[% c.auth.username %]" [% IF c.authz.authorize('admins') %]admin="admin"[% END %]>
	<tr>
		<td class="mast">
            <table id="mast">
                <tr><td class="title">Washington Rotary Radio Auction [% IF c.param('year') %]<span class="year">[% c.param('year') %]</span>[% END %][% IF c.param('year') && c.param('night') %], [% END %][% IF c.param('night') %]Night <span class="night">[% c.param('night') %]</span>[% END %]</td></tr>
                <tr>
                    <td class="play">
                        <span class="listen">Listen:
                            <span class="radio">
                            [% FOREACH station IN listen.radio %]
                                [% IF station.link %]
                                    <span class="nolive"><label class="mast hidden">[% station.name %]</label><a class="mast" href="javascript:callLTR='KLPW';grptuner='';file='';title='';ListenLive();" target="_self">[% station.name %]</a></span>
                                [% ELSE %]
                                    [% station.name %]
                                [% END %]
                                [% UNLESS loop.last %]
                                    <span class="choicesep">/</span>
                                [% END %]
                            [% END %]
                            </span>
                        </span>
                        <img class="arrowsep" src="images/right_arrow_button.gif" />
                        <span class="bid">Bid:
                            [% FOREACH phone IN bid.phone %]
                                [% phone %]
                                [% UNLESS loop.last %]
                                    <span class="choicesep">/</span>
                                [% END %]
                            [% END %]
                            <span class="choicesep">/</span>
                            [% FOREACH online IN bid.chat %]
                                [% IF online.name %]
                                    <span class="nolive"><label class="mast hidden">[% online.name %]</label><a id="[% online.id %]" class="mast" href="[% online.link %]" target="new">[% online.name %]</a></span>
                                [% ELSE %]
                                    [% online.name %]
                                [% END %]
                                [% UNLESS loop.last %]
                                    <span class="choicesep">/</span>
                                [% END %]
                            [% END %]
                        </span>
                        <img class="arrowsep" src="images/right_arrow_button.gif" />
                        <span class="pay">Pay:
                            <a id="paypal" class="modal">PayPal</a>
                        </span>
                        <div id="dialog-paypal" title="Pay by Credit Card" class="modal">
                            <form action='https://www.paypal.com/cgi-bin/webscr' method='post'>
                                <input type='hidden' name='cmd' value='_s-xclick'><input type='hidden' name='hosted_button_id' value='4113257'>
                                <table>
                                    <tr><td colspan="2">Complete the form below to pay for your item:</td></tr>
                                    <tr><td>Item #:</td><td><input type='hidden' name='on0' value='Item ID'><input id="paypal-os0" type='text' name='os0' maxlength='60' value='Item ID' onfocus="this.value = ( this.value == this.defaultValue ) ? '' : this.value;return true;"></td></tr>
                                    <tr><td>Description:</td><td><input type='hidden' name='item_name' value='Item Description'><input id="paypal-name" type='text' name='item_name' maxlength='60' value='Item Description' onfocus="this.value = ( this.value == this.defaultValue ) ? '' : this.value;return true;"></td></tr>
                                    <tr><td>Street Address:</td><td><input type='hidden' name='on1' value='Street Address'><input type='text' name='os1' maxlength='60' value='Street Address' onfocus="this.value = ( this.value == this.defaultValue ) ? '' : this.value;return true;"></td></tr>
                                    <tr><td>City, ST ZIP</td><td><input type='hidden' name='on2' value='City, State, Zip'><input type='text' name='os2' maxlength='60' value='City, State, Zip' onfocus="this.value = ( this.value == this.defaultValue ) ? '' : this.value;return true;"></td></tr>
                                    <tr><td colspan="2" align="center"><input type='image' src='https://www.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif' border='0' name='submit' alt='PayPal - The safer, easier way to pay online!'><img alt='' border='0' src='https://www.paypal.com/en_US/i/scr/pixel.gif' width='1' height='1'></td></tr>
                                </table>
                            </form>
                        </div>   
                    </td>
                </tr>
            </table>
		</td>
	</tr>
	<tr>
		<td class="ad">
            <table id="ad">
                <tr>
                    <td class="jTemplatesTest">
                    </td>
                </tr>
            </table>
		</td>
	</tr>
</table>


			</div>
		</div>

		<div id="bodygroup">
			<div id="iis">
				<!-- <iframe src="http://iis.radioauction.washingtonrotary.com" style="height:900px;width:100%;padding-top:5px;border:0" /> -->
			</div>
		</div>

    <textarea id="t_ad" style="display:none">
		{#if $T.ad_id && $T.img}
	        <a href="pl/api/ads/ad/{$T.ad_id}" target="_new"><img src="ads/{$T.img}" border="0" /></a>
        {#else}
        	<a href="http://www.washingtonrotary.com" target="_new"><img src="ads/washrotary.jpg" border="0" /></a>
		{#/if}
	</textarea>

	</body>
</html>
