<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
	<head>
		<title>[% IF c.param('status') == '401' %]Unauthorized[% END %]</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<h1>[% IF c.param('status') == '401' %]Unauthorized[% END %]</h1>
		<p>[% IF c.param('status') == '401' %]Permission denied trying to access [% c.param('referer') %][% END %]</p>
	</body>
</html>