A.mainlinks:link { color:#000000; text-decoration:none }M
A.mainlinks:visited { color:#000000; text-decoration:none }M
A.mainlinks:hover { color:#800000; text-decoration:none }M
BODY { FONT-SIZE: 10pt; FONT-FAMILY: Verdana }
TABLE { FONT-SIZE: 10pt; FONT-FAMILY: Verdana }
TR { FONT-SIZE: 8pt; FONT-FAMILY: Verdana }
.head { font-size: 12pt; font-weigth: bold; }
.subhead { font-size: 10pt; font-weigth: bold; }
.content_current { font-size: 8pt; }
.content_next { font-size: 8pt; }
